body{
    font-family: 'Roboto', sans-serif;
    background-color: red;
    font-weight: 500;
}
/* Header */
header{
    background-color: var(--mc-bg-nav);
    height: var(--mc-nav-height);
}
header .row{
    background-color: var(--mc-bg-nav-row);
    height: 100%;
}
header .mc-search span,
header .mc-search input{
    background-color: var(--mc-bg-search);
}
header .mc-search input::placeholder{
    color: #777777;
}
header img{
    height: 46px;
    width: auto;
}
header img.mc-logo-large{
    height: 28px;
}
/* Main */
main{
    background-color: aqua;
}
main .mc-slide-bar{
    background-image: url('../../img/sidebar-bg.png');
    background-color: var(--mc-bg-slide-bar);
    height: calc(100vh - var(--mc-nav-height));
    width: 68px;
    text-align: center;
}
@media (min-width: 992px){
    main .mc-slide-bar{
        width: 150px;
        text-align: left;
    }
}
main .mc-slide-bar a:hover > div{
    background-color: rgba(255, 255, 255, 0.5);
}
main .mc-section{
    background-color: blanchedalmond;
    width: 100%;
}

/*
.row,
.row > div{
    border: 1px solid orange;
}*/