:root{
    /* header */
    --mc-bg-search: #E5E5E5;
    --mc-bg-nav-row: white;
    --mc-bg-nav: #F8F9FA;
    --mc-nav-height: 70px;
    /*main */
    --mc-bg-main: var(--mc-bg-nav);
    /* main - slide bar */
    --mc-bg-slide-bar: #051E34;
    --mc-slide-bar-widht: 68px;
    /* main -  */
    --mc-top-main: #1B72E8;
}